elements-dir: {{ NODEPOOL_CONFIG | dirname }}/elements
images-dir: {{ NODEPOOL_DIB_BASE_PATH }}/images

zookeeper-servers:
  - host: localhost
    port: 2181

labels:
  - name: test-image
    min-ready: 1

providers:
  - name: devstack
    region-name: RegionOne
    cloud: devstack
    # Long boot timeout to deal with potentially nested virt.
    boot-timeout: 600
    launch-timeout: 900
    rate: 0.25
    diskimages:
      - name: test-image
        config-drive: true
    pools:
      - name: main
        max-servers: 5
        networks:
          - private
        labels:
          - name: test-image
            diskimage: test-image
            min-ram: 512
            flavor-name: 'nodepool'
            console-log: True
            key-name: {{ NODEPOOL_KEY_NAME }}
            instance-properties:
              nodepool_devstack: testing
            userdata: |
              #cloud-config
              write_files:
              - content: |
                  testpassed
                path: /etc/testfile_nodepool_userdata

diskimages:
  - name: test-image
    rebuild-age: 86400
    elements:
      - {{ nodepool_diskimage.base_element }}
      - vm
      - simple-init
      - growroot
      - devuser
      - openssh-server
      - nodepool-setup
    env-vars:
      TMPDIR: {{ NODEPOOL_DIB_BASE_PATH }}/tmp
      DIB_CHECKSUM: '1'
      DIB_SHOW_IMAGE_USAGE: '1'
      DIB_IMAGE_CACHE: {{ NODEPOOL_DIB_BASE_PATH }}/cache
      DIB_APT_LOCAL_CACHE: '0'
      DIB_DISABLE_APT_CLEANUP: '1'
      DIB_DEBIAN_COMPONENTS: 'main,universe'
      DIB_DEV_USER_AUTHORIZED_KEYS: {{ NODEPOOL_PUBKEY }}
      DIB_DISTRIBUTION_MIRROR: {{ nodepool_diskimage.mirror }}
      DIB_DEBOOTSTRAP_EXTRA_ARGS: '--no-check-gpg'
      # TODO(corvus): cached $DIB_GET_PIP
      # TODO(corvus): glean from source if in required-projects
      DIB_SIMPLE_INIT_NETWORKMANAGER: '1'
