- hosts: cluster
  roles:
    - deploy-openshift

- hosts: launcher
  pre_tasks:
    - name: Login to the openshift cluster as developer
      command: >
          oc login -u developer -p developer --insecure-skip-tls-verify=true
          https://{{ hostvars['cluster']['ansible_hostname'] }}:8443

    # Zookeeper service doesn't start by default on fedora
    - name: Setup zoo.cfg
      command: cp /etc/zookeeper/zoo_sample.cfg /etc/zookeeper/zoo.cfg
      become: yes
      ignore_errors: yes

    - name: Configure auth
      lineinfile:
        path: /etc/zookeeper/zoo.cfg
        line: "{{ item }}"
      with_items:
        - "requireClientAuthScheme=sasl"
        - "authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider"
      become: yes

    - name: Add jaas file
      copy:
        content: |
          Client {
            org.apache.zookeeper.server.auth.DigestLoginModule required
              username="super"
              password="adminsecret";
          };
          Server {
             org.apache.zookeeper.server.auth.DigestLoginModule required
               user_super="adminsecret";
          };
        dest: /etc/zookeeper/auth.conf
      become: yes

    - name: Add jvm flag
      copy:
        content: |
          #!/bin/sh
          export SERVER_JVMFLAGS="-Djava.security.auth.login.config=/etc/zookeeper/auth.conf"
        dest: /etc/zookeeper/zookeeper-env.sh
        mode: 0755
      become: yes

    - name: Start zookeeper
      service:
        name: zookeeper
        state: started
      become: yes
      ignore_errors: yes
  roles:
    - role: tox
      tox_envlist: functional_openshift
